<%= form_for(@dive) do |f| %>
  <% if @dive.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dive.errors.count, "error") %> prohibited this dive from being saved:</h2>

      <ul>
      <% @dive.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :time %><br>
    <%= f.time_select :time %>
  </div>
  <div class="field">
    <%= f.label :duration %><br>
    <%= f.time_select :duration %>
  </div>
  <div class="field">
    <%= f.label :depth %><br>
    <%= f.text_field :depth %>
  </div>

  <div class="field">
  <%= f.label :dive_type %><br>
  <%= f.select :dive_type, [['Standard',0],['Night',1],['Cave',2],['Cold',3]] %>
  </div>
  <div class="field">
    <%= f.label :dive_buddy %><br>
    <%= f.number_field :dive_buddy %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :rating %><br>
    <%= f.number_field :rating %>
  </div>
  <div class="field">
    <%= f.label :image_URL %><br>
    <%= f.text_field :image_URL %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_field :notes %>
  </div>
	<% if session["user_id"] %>
		
        <%= f.hidden_field :user_id, value: session["user_id"]%>
    <% end %>













  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
