
<br/>



<h2 id="divelistheader">List of dives</h2>
<table>
  

  <tbody>
    <% @dives.each do |dive| %>
  		
      <%= content_tag :tr, class: cycle('list_line_odd', 'list_line_even') do %>
  		<div class="table_cell">
    <%=link_to image_tag(dive.image_URL, class: 'list_image', size: "300x300"), dive %><br/>
  		
		
		<center><div class="details">
		<%= dive.location %>
        <%= dive.date %><br/>

        




        
        <%= link_to 'Show   ', dive %>
        <%= link_to 'Edit   ', edit_dive_path(dive) %>
        <%= link_to 'Delete', dive, method: :delete, data: { confirm: 'Are you sure?' } %>
		</div></center>
      
		</div>
	<% end %>
	
    <% end %>
	
  </tbody>
</table>


<br>

