<p id="notice"><%= notice %></p>

<h1>Listing Dives</h1>

<table>
  

  <tbody>
    <% @dives.each do |dive| %>
  
      <%= content_tag :tr, class: cycle('list_line_odd', 'list_line_even') do %>
  <td>
    <%= image_tag(dive.image_URL, class: 'list_image') %>
  </td>
        <td><%= dive.date %></td>
        <td><%= dive.time %></td>
        <td><%= dive.duration %></td>
        <td><%= dive.depth %></td>
        <td><%= dive.dive_type %></td>
        <td><%= dive.dive_buddy %></td>
        <td><%= dive.location %></td>
        <td><%= dive.rating %></td>
        <td><%= dive.image_URL %></td>
        <td><%= link_to 'Show', dive %></td>
        <td><%= link_to 'Edit', edit_dive_path(dive) %></td>
        <td><%= link_to 'Destroy', dive, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dive', new_dive_path %>
