
<br/>





<table>
  

  <tbody>
    <% @dives.each do |dive| %>
  
      <%= content_tag :tr, class: cycle('list_line_odd', 'list_line_even') do %>
  		<td>
    <%=link_to image_tag(dive.image_URL, class: 'list_image',size: "200x200"), dive %>
  		</td>
		<td></td>

		<td><%= dive.location %></td>
        <td><%= dive.date %></td>
        
        <th><%= dive.depth %></td>
        <td><%= dive.dive_type %></td>
        <th><%= dive.dive_buddy %></td>
        
        <th><%= dive.rating %></td>
        
        <th><%= link_to 'Show', dive %></td>
        <td><%= link_to 'Edit', edit_dive_path(dive) %></td>
        <th><%= link_to 'Destroy', dive, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dive', new_dive_path %>


