<p id="notice"><%= notice %></p>

<div id="showdive">

</br>
  <div id="imagediv">
  <%= image_tag(@dive.image_URL, class: 'list_image',size: "500x500") %>
</div>

</br>

<div id="contentsdiv">
<p>
  <strong>Date:</strong>
  <%= @dive.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @dive.time %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @dive.duration %>
</p>

<p>
  <strong>Depth:</strong>
  <%= @dive.depth %>
</p>

<p>
  <strong>Dive type:</strong>
  <%= @dive.dive_type %>
</p>

</div >
<div>
<p>
  <strong>Dive buddy:</strong>
  <%= @dive.dive_buddy %>
</p>

<p>
  <strong>Location:</strong>
  <%= @dive.location %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @dive.rating %>
</p>
<p>
  <strong>Notes:</strong>
  <%= @dive.notes %>
</p>

</div>
<br></br>
<%= link_to 'Edit', edit_dive_path(@dive) %> |
<%= link_to 'Back', dives_path %>
</div>


